.container-products {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    justify-content: space-around;
    grid-template-columns: repeat(3, 200px);
}

.card {
    background-color: rgba(146, 145, 145, 0.527);
    color: white;
}